COLPOSCOPE/
INFUSION STAND/
MEDICAL AUTOCLAVE/
MEDICAL TROLLEY - COLPOSCOPE/
MEDICAL TROLLEY - GENERAL/
MEDICAL TROLLEY - LAPTOP/
MEDICAL TROLLEY - VEIN FINDER/
MEDICAL TROLLEY - VITAL SIGN MONITOR/
MEDICAL VENTILATOR/
ORTHOPEDIC IMPLANT/
STEREOTACTIC/
STERILISATION CHAMBER/
VEIN FINDER/
VITAL SIGN MONITOR/